[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
shapely = "*"
numpy = "*"
xarray = "*"
pandas = "*"
deprecated = "*"
ipyleaflet = "*"
notebook = "*"
openeo = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.9"
